<p id="notice"><%= notice %></p>

<div>
What that means
<hr/>
You are solution oriented and thrive in situations where a remedy is desired. You emphasize the
positive aspects of any circumstance. You are a true giver who finds a genuine sense of satisfaction
in helping others. Oat is also extremely trustworthy and is great at absorbing and containing a secret.
 You are hardworking and have a love of knowledge and know-how.
</div>
<div>
Friends and Family
<hr/>

</div>


<%= link_to 'Edit', edit_authentication_path(@authentication) %> |
<%= link_to 'Back', authentications_path %>
