<%= form_for(@result, :html => {:multipart => true}) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :disabled => true %>
  </div>
  <div class="field">
    <%= 'You Are' %><br />
    <%= f.text_area :what_that_means %>
  </div>
  <div class="field">
    <%= f.label :friends_and_family %><br />
    <%= f.text_area :friends_and_family %>
  </div>
  <div class="field">
    <%= f.label :in_nature %><br />
    <%= f.text_area :in_nature %>
  </div>
  <div class="field">
    <%= f.label :beautiful_change_idea %><br />
    <%= f.text_area :beautiful_change_idea %>
  </div>
  <div class="field">
    <%= f.label :product_title %><br />
    <%= f.text_field :product_title %>
  </div>
  <div class="field">
    <%= f.label :product_description %><br />
    <%= f.text_area :product_description %>
  </div>
   <div class="field">
    <%= f.label :facebook_subject %><br />
    <%= f.text_field :facebook_subject %>
  </div>


  <div class="field">
    <%= f.label :facebook_copy %><br />
    <%= f.text_area :facebook_copy %>
  </div>
  <div class="field">
    <%= f.label :fb_share_image_link %><br />
    <%= f.text_area :fb_share_image_link %>
  </div>
 <div class="field">
    <%= f.label :product_link %><br />
    <%= f.text_area :product_link %>
  </div>

   <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>

 <div class="field">
    <%= f.label 'Header Image' %> <%= @result.header.url %><br />
    <%= f.file_field :header %>
  </div><br/>
 <div class="field">
    <%= f.label 'Background Image' %> <%= @result.background.url %><br />
    <%= f.file_field :background %>
  </div><br/>
 <div class="field">
    <%= f.label 'Product Image' %> <%= @result.product.url %><br />
    <%= f.file_field :product %>
  </div><br/>
<div class="field">
    <%= f.label 'What That Means Header' %> <%= @result.whatthatmeansheading.url %><br />
    <%= f.file_field :whatthatmeansheading %>
  </div><br/>
<div class="field">
    <%= f.label 'Friends And Family Header' %> <%= @result.friendsandfamilyheading.url %><br />
    <%= f.file_field :friendsandfamilyheading %>
  </div><br/>
<div class="field">
    <%= f.label 'In Nature Header' %> <%= @result.innatureheading.url %><br />
    <%= f.file_field :innatureheading %>
  </div><br/>
<div class="field">
    <%= f.label 'Beautiful Change Idea Header' %> <%= @result.beautifulchangeideaheading.url %><br />
    <%= f.file_field :beautifulchangeideaheading %>
  </div><br/>
 <div class="field">
    <%= f.label 'Product Image horizontal offset' %> <br />
    <%= f.text_field :product_image_xoffset %>
  </div><br/>
  <div class="field">
    <%= f.label 'Product Image vertical offset' %> <br />
    <%= f.text_field :product_image_yoffset %>
  </div><br/>

<div class="actions">
    <%= f.submit %>
  </div>
<% end %>
