<script src="//connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29838818-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="fb-root-wrapper">
<div id="fb-root"></div>
</div>
<script>
// now buggy by Facebook API
// FB.UIServer.Methods["feed"].size = {width:450, height:270};

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '404130489603072', // App ID
      channelUrl : '//<%= request.host_with_port %>/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.Canvas.setSize({ height: 1150 });
    window.fbAsyncInit = function () {
      FB.Canvas.setAutoResize();
    }
    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<script>
function initiate_feed() 
{
FB.ui(
  {
   method: 'feed',
   message: 'Facebook Connect',
   name: '<%= escape_javascript(@result.facebook_subject) if @result.facebook_subject.present?  %>',
   description: '<%= escape_javascript(@result.facebook_copy) if @result.facebook_copy.present? %>',
   link: 'https://www.facebook.com/aveeno/app_295805387151302',
   picture: '<%= escape_javascript(@result.fb_share_image_link) if @result.fb_share_image_link.present? %>',
   actions: [
        { name: 'Aveeno® Profile Scanner', link: 'http://www.be-an-active-natural.com/' }
   ],
  user_message_prompt: 'This message prompt'
  },
  function(response) {
    if (response && response.post_id) {
      toggle_coupon();
    } else {
      //alert('Post was not published.');
    }
  }
);
}
</script>
<div id="result_content_wrapper" style="background-image: url('<%= @result.background.url %>');">
  <div id="result_header">
    <%= image_tag @result.header.url %>
  </div>
  <div id="result_content">
    <div id="left_container">
        <div id="what_that_means">
          <h2 style="color: <%= @result.color %>">You Are</h2>
          
          <span  class="copy_section"><%= @result.what_that_means.html_safe %></span>
        </div>

        <div id="friends_and_family">
          <h2 style="color:  <%= @result.color %>">Friends and Family</h2>
        
          <span class="copy_section"><%= @result.friends_and_family.html_safe %></span>
        </div>

        <div id="in_nature">
          <h2 style="color:  <%= @result.color %>">In Nature</h2>
         
          <span class="copy_section"><%= @result.in_nature.html_safe %></span>
        </div>

        <div id="beautiful_change_idea">
          <h2 style="color:  <%= @result.color %>">Beautiful Change Idea</h2>
          
          <span class="copy_section"><%= @result.beautiful_change_idea.html_safe %></span>
        </div>
       
             <div id="coupon">
                <div style="text-align:center; width:522px; margin-left:auto; margin-right:auto;">
                    <img id="Image-Maps_3201208161209022" src="/assets/3201208161209022_thanks_overlay_wbtn.png" usemap="#Image-Maps_3201208161209022" border="0" width="522" height="97" alt="" />
                    <map id="_Image-Maps_3201208161209022" name="Image-Maps_3201208161209022">
                        <area shape="rect" id="redeemnow" coords="22,37,90,67" href="http://bricks.coupons.com/Start.asp?tqnm=xjphewc38096010&bt=vg&o=100593&pt=&lang=&ws=&ct=&ci=&cl=&cp=&eb=1&c=JJ&p=1a1714dff9&z=&r=&pc=&tc" target="_blank" alt="" title=""  onClick="_gaq.push(['_trackEvent','Results', 'click_redeem_now']);"  />
                        <area shape="rect" coords="244,62,312,92" id="goback"  onClick="_gaq.push(['_trackEvent','Results', 'click_go_back']);$('#coupon').hide(); $('#facebook_dialog_link').show();return false;" alt="" title=""    />
                        <area shape="rect" coords="319,62,443,92" 
                         alt="" title=""   href="http://bricks.coupons.com/Start.asp?tqnm=xjphewc38096010&bt=vg&o=100593&pt=&lang=&ws=&ct=&ci=&cl=&cp=&eb=1&c=JJ&p=1a1714dff9&z=&r=&pc=&tc" target="_blank" onClick="_gaq.push(['_trackEvent','Results', 'click_redeem_now']); "  />
                     </map>
                </div>
         
             
                    </div>
                   
                  <div><a id="facebook_dialog_link" href="#" onclick="window.parent.postMessage('initiate_feed', '*'); _gaq.push(['_trackEvent','Results', 'click_share_results']); return false;"><img src="/assets/fb_share_btn.png" border="0"  /></a></div>
        

        
    </div>
    <div id="right_container">
      <div id="product_area">
          <h3>PRODUCTS FEATURING YOUR ACTIVE NATURALS<sup style="font-size: 10px;">&reg;</sup> INGREDIENT </h3>
          <img id="product_image" style="left: <%= @result.product_image_xoffset %>px;top: <%= @result.product_image_yoffset %>px;" border="0" src="<%= @result.product %>" /> <br/><span id="product_title"><%= @result.product_title.html_safe %></span>
            <div id="product_description">
              <%= @result.product_description.html_safe %><br/><br/>
              <a href="<%= @result.product_link %>" target="_blank" border="0"><img id="shopnow_button" src="/assets/shop_btn.png" border="0"  onClick="_gaq.push(['_trackEvent','Results', 'click_show_now']); "></a>
            </div>
        </div>
      <h2>
    </div>
  </div>
</div>
