<h1>Site Administration</h1>
<br/>
[ <%= link_to('Logout', destroy_administrator_session_path, :method => :delete) %>    ]

<br/>


<div><br/><br/><br/>

Preview:
<% (1..12).each do |month_index| %>
  <a href="/results/display?testmonth=<%= month_index %>">[ <%= Date::MONTHNAMES[month_index] %> ]</a> &nbsp;
<% end %>
</div>
<br/><br/><br/>


<br/><br/><br/>

<table>
  <tr>
    <th>Name</th>
    <th>What that means</th>
    <th>Friends and family</th>
    <th>In nature</th>
    <th>Beautiful change idea</th>
    <th>Product title</th>
    <th>Product description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.name %></td>
    <td><%= result.what_that_means %></td>
    <td><%= result.friends_and_family %></td>
    <td><%= result.in_nature %></td>
    <td><%= result.beautiful_change_idea %></td>
    <td><%= result.product_title %></td>
    <td><%= result.product_description %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Edit', edit_result_path(result) %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'new', new_result_path %>

