<head>
<link rel="stylesheet" type="text/css" href="/assets/application.css" />
<link rel="stylesheet" type="text/css" href="/assets/skin.css" />


<script src="/assets/index.js" ></script>
<script src="/assets/jquery.jcarousel.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29838818-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script type="text/javascript">
// initialize the carousel

$(document).ready(function() {
	//FB.login();
      $('#our_commitment_gallery').jcarousel({
		visible: 1,
		scroll: 1,
		initCallback: mycarousel_initCallback,
		itemLoadCallback: newVisibleItemCallback,
		buttonNextHTML: null,
		buttonPrevHTML: null
	});

      // data for carousel
     $.data(document.body, 'current_fb_name', '');
     $.data(document.body, 'current_fb_description', '');
     $.data(document.body, 'current_fb_link', '');

     
});


function mycarousel_initCallback(carousel)
{
	$('img#navigate-right').click(function() {
		_gaq.push(['_trackEvent','Landing Page', 'click_image_right',$.data(document.body, 'current_fb_name')]);
		carousel.next();
		
	});
		
	$('img#navigate-left').click(function() {
		_gaq.push(['_trackEvent','Landing Page', 'click_image_left',$.data(document.body, 'current_fb_name')]);	
		carousel.prev();
		
	});

	 $('img#gallery_header').attr("src", $(".jcarousel-item").eq(carousel.first -1).children('img').attr("header_url"));
	$.data(document.body, 'current_fb_name', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_title"));
	$.data(document.body, 'current_fb_description', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_description"));
	$.data(document.body, 'current_fb_link', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_link"));
	$.data(document.body, 'current_fb_share_icon', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("icon_link"));
  	
}

function newVisibleItemCallback(carousel, item)
{
 // console.log($(".jcarousel-item").eq(carousel.first).attr("src"));
 // console.log($(".jcarousel-item").eq(carousel.first  -1).children('img').attr("src"));
  //console.log($(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("header_url"));
  //console.log(carousel.first);
  $('img#gallery_header').attr("src", $(".jcarousel-item").eq(carousel.first -1).children('img').attr("header_url"));
   $.data(document.body, 'current_fb_name', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_title"));
   $.data(document.body, 'current_fb_description', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_description"));
   $.data(document.body, 'current_fb_link', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("fb_link"));
   $.data(document.body, 'current_fb_share_icon', $(".jcarousel-item").eq(carousel.first - 1 ).children('img').attr("icon_link"));
  
   if (carousel.first == 1)
     $('img#navigate-left').hide();
   else
       $('img#navigate-left').show();
   
   if (carousel.first == carousel.size())
     $('img#navigate-right').hide();
   else
     $('img#navigate-right').show();
}

</script>

</head>

<body>
<div id="fb-root-wrapper">
  <div id="fb-root"></div>
</div>


<script>

function initiate_feed() {
//FB.UIServer.Methods["feed"].size = {width:450, height:270};
//scroll = $(window).scrollTop();

//window.scrollTo(scroll+500);
FB.ui(
  {
   method: 'feed',
   message: 'Facebook Connect',
   name: eval("unescape($.data(document.body, 'current_fb_name').toString());"),
   description: eval("unescape($.data(document.body, 'current_fb_description').toString());"),
   /*link: eval("encodeURI($.data(document.body, 'current_fb_link').toString());") , */
   caption: '',
   link: 'http://www.facebook.com/aveeno',
   picture: eval("encodeURI($.data(document.body, 'current_fb_share_icon').toString());"),
   actions: [
        { name: 'Be an Active Natural', link: 'http://www.be-an-active-natural.com/' }
   ],
  user_message_prompt: 'This message prompt'
  },
  function(response) {
  }
);

}
</script>
<div id="content_wrapper">
    <div style="text-align:center; margin-left:auto; margin-right:auto;">
    <img id="Image-Maps_2201203081508179"  src="/assets/Discovery_MainImage.png" usemap="#Image-Maps_2201203081508179" border="0" width="811" height="222" alt="" 	/>
    <map id="_Image-Maps_2201203081508179" name="Image-Maps_2201203081508179">
      <area shape="rect" coords="165,232,351,266"  id="scan_profile_link" alt="" title="" onClick="_gaq.push(['_trackEvent','Landing Page', 'click_scan_now','Landing Page']);"   />
    </map>
    
    <img id="scanning" src="/pScannerAni.gif"/>
   
	
	

            
</body>
</html>
