<p id="notice"><%= notice %></p>


<% @result.attributes.each_pair do |name, value| %>
<p>
  <b><%= name %>:</b>
  <%= value %>
</p>
<% end %>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
