/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

html, body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#result_content_wrapper
{
  font-family: arial, helvetica, verdana;
  font-size: 12px;
  width: 810px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #53403c;
  letter-spacing: 1px;
  line-height: 15px;
}

#result_content_wrapper div#legal
{
  font-size: 10px;
  background-color: #fff;
  color: #909090;
  font-family: arial, helvetica, verdana;
}

span.copy_section
{
  position: relative;
  top: -10px;
}

sup
{
  font-size: 10px;
}

#result_content_wrapper div#left_container
{
  width: 455px;
  float: left;
  display: inline;
  
  padding-left: 35px;
  padding-right: 30px;
}

#result_content_wrapper div#right_container
{
  width: 270px;
  height: 100%;
  float: right;
}

#result_content_wrapper img#our_mission_header
{
  position: relative;
  margin-bottom: 25px;
}

#result_content_wrapper div#legal_links a
{
  font-size: 10px;
  font-family: arial, helvetica;
}

#result_content_wrapper div#content_wrapper
{
 
  margin-left: auto;  
  margin-right:auto;
}

#result_content_wrapper img#shopnow_button
{
  margin-left: 20%;
}

#result_content_wrapper .jcarousel-container-horizontal
{
  width: 300px;
}




#result_content_wrapper div#what_that_means
{
  margin-top: 24px;
  position: relative;
  margin-bottom: -11px;
}

#result_content_wrapper div#friends_and_family
{
  position: relative;
  margin-bottom: -11px;
}

#result_content_wrapper div#in_nature
{
  position: relative;
  margin-bottom: -11px;
}

#result_content_wrapper div#result_header
{

}


#result_content_wrapper div#beautiful_change_idea
{
  margin-bottom: 20px;
}


#result_content_wrapper div#our_commitment
{
  height: 650px;
  background-image: url('/BAAN_commitment.png');
  background-repeat: none;
}

#result_content_wrapper img#scanning
{
  display: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#result_content_wrapper div#result_content_wrapper
{
  background-color: #e0e3d8;
  background-repeat: no-repeat;
  width: 810px;
  margin-left: auto;
  margin-right:auto;
  height: 710px;
}

#result_content_wrapper #fb-root
{
  z-index: 99999;
  position: fixed;
  
}

#result_content_wrapper img#garden_image
{
  margin-top: 20px;
}

#result_content_wrapper div#fb-root-wrapper
{
  position: fixed;
  top: 0%;
  left: 0px;
  
}

#result_content_wrapper div#result_content
{
  top: 10px;
  position: relative;
  width: 810px;
 
}

#result_content_wrapper div#result_content a:hover
{
  text-decoration: none;
}

#result_content_wrapper a#goback
{
  float: right;
  position: relative;
  top: 25px;
  font-size: 11px;
}

#result_content_wrapper img#footer
{
  position: relative;
  left: 1px;
  top: 17px;
}

#result_content_wrapper div#coupon
{
   position: relative;
   width: 522px;
   height: 135px;
   left: -34px;
   padding-top: 5px;
   padding-bottom: 5px;
   margin: auto;
   margin-bottom: 4px;
   display:none;

}

#result_content_wrapper img#product_image
{
  margin: auto;
  position: relative;
 /* left: -15px;
  top: 18px; */
}

#result_content_wrapper img#navigate-left
{
  position: absolute;
  float: left;
  left: 0px;
  top: 36%;
  cursor: pointer;
  z-index: 1000;
}

#result_content_wrapper div.modbody
{
  width: 540px;
}

#result_content_wrapper img#navigate-right
{
  position: absolute;
  float: right;
  right: -1px;
  top: 36%;
  cursor: pointer;
  z-index: 1000;
}

#result_content_wrapper ul, ol {
  list-style-type: disc;

  padding-left: 18px;
}

#result_content_wrapper div#gallery_widget_box li 
{
  display: inline;
  width: 300px;
}



#result_content_wrapper div#gallery_widget_box
{
  position: relative;
  left: 32px;
  top: 248px;
  height: 353px;
  width: 450px;
}

#result_content_wrapper img#gallery_header
{
  position: relative;
  /*left: 47px; */
  top: 250px;
  z-index: 1000;
  margin-left: 30px;
  margin-bottom: 20px;
}

#result_content_wrapper img#fb_share_btn
{
  left: 378px;
  z-index: 50000;
  cursor: pointer;
  /* background-image: url('/bttn_share.png'); */
  width: 73px;
}

#result_content_wrapper ul#our_commitment_gallery img
{
  border-radius: 10px;
}

#result_content_wrapper h3 
{
  font-size: 17px;
  font-weight: bold;
}

#result_content_wrapper h2
{
  font-size: 18px;
}

#result_content_wrapper div#product_area
{
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 6px;
  margin: auto;
  overflow: hidden;
  width: 230px;
}

#result_content_wrapper span#product_title
{
  font-size: 17px;
  
  position: relative;
   left: 0px;
   top: 20px;
   width: 230px;
   font-weight: bold
}

#result_content_wrapper div#product_description
{
  font-size: 13px;
  position: relative;
  left: 0px;
  top: 20px;
  margin-top: 22px;
  height: 190px;
}

#result_content_wrapper span#product_header
{
  font-size: 16px;
}

#result_content_wrapper img#be_an_active_image
{
  margin-bottom: 10px;
}

#result_content_wrapper img#Image-Maps_2201203081508179
{
  position: relative;
  margin-top: 0px;
}

#result_content_wrapper a#facebook_dialog_link
{
  cursor: pointer;
}

#result_content_wrapper img#active_natural_rings
{
  position: absolute;
  top: 700px;
  z-index: 1000;
  left: 175px;
}

#result_content_wrapper a#redeemnow
{
  position: relative;
  top: 35px;
}


