<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", "https://connect.facebook.net/en_US/all.js"  %>


  <%= csrf_meta_tags %>
</head>
<body>
<%= content_tag(:div, flash[:error], :id => 'flash_error') if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => 'flash_notice') if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => 'flash_alert') if flash[:alert] %>
<%= yield %>

</body>
</html>
