<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application"  %>
  <%= csrf_meta_tags %>
 
   <script>

var onmessage = function(e) { 
if(e.data.indexOf('toggle_coupon') !== -1){
          toggle_coupon();
          }
} 
 
if(typeof window.addEventListener != 'undefined') { 
  window.addEventListener('message', onmessage, false); 
} 
else if(typeof window.attachEvent != 'undefined') { 
  window.attachEvent('onmessage', onmessage); 
}
</script>

</head>
<body>

<%= yield %>

</body>
</html>
